* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: fonte;
}

@font-face {
    font-family: fonte;
    src: url(assets/fonts/fontastique.ttf);
}

body {
    background-color: #000;
}


html {

    scroll-behavior: smooth;
}